#  1. 파이썬 라이브러리 사용
* pip install numpy
* import numpy as np
* np. 메서드

In [2]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [3]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [4]:
print("hihi")
print("mynameishaechanmoon")
print("test2")

hihi
mynameishaechanmoon
test2

2. 변수와 참조

In [3]:
a = [1, 2, 3]

In [4]:
b = a
b

In [5]:
a.append(4)
b

In [6]:
def append_element(some_list, element):
    some_list.append(element)

3. 사용자 정의 함수

In [ ]:
def append_element(somel_list, element);
    some_list.

In [7]:
data = [1, 2, 3]
append_element(datammmm, 4)
data

# 4. 내장형 함수 : type()

In [8]:
a = 5
type(a)
a = "foo"
type(a)

In [9]:
"5" + 5

In [10]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

# 6. 내장 함수 : isinstance()

In [5]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [6]:
a = 5
print(isinstance(a, int))
print(isinstance(a, int))

True

# 7. 내장함수 : iter()
* str
* list
* tuple

In [14]:
getattr(a, "split")

In [7]:
def isiterable(obj):
    try:
        iter(obj) # iter 내장함수 호출
        return True
    except TypeError: # not iterable
        return False

In [9]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [10]:
5 - 7
12 + 21.5
5 <= 2

False

# 8. Key Word : is, is not
* is : 두 개의 객체가 동일 여부 확인
* is not : 두 개의 객체의 상이 여부 확인

In [17]:
a = [1, 2, 3] #list
a
b = a
b
c = list(a) # 새로운 객체가 생성
c
a is b
a is c

False

In [18]:
a == c #객체의 내용 비교

True

# 9. None 객체
* 파이썬 결측값 null

In [21]:
a = None
a
print(a)
a is None

None

True

# 10. List 자료형
* iterable 객체
* vr = []
* vr = list()
* mutable 객체
    * list저장되어있는거 수정/삭제/추가 가능!
    * 조회 : indexing
      * 변수명[정수]
    * extract : slicing
      * 변수명[start:end:step]
* 메서드
  * 변수명.count()
* 연산자 : +, *

In [22]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

# 11. Tuple 자료형
* iterable 객체
* vr = ()
* vr = tuple()
* immutable 객체
    * list저장되어있는거 수정/삭제/추가 불불불가능!
    * 조회 : indexing
      * 변수명[정수]
    * extract : slicing
      * 변수명[start:end:step]
* 메서드
* tup.count()
* 연산자 : +, *

In [23]:
a_tuple = (3, 5, (4, 5))
a_tuple[1]

a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

# 12. str 자료형
* iterable 객체
* vr = "   "
* vr = str()
* immutable 객체
    * list저장되어있는거 수정/삭제/추가 가능!
    * 조회 : indexing
      * 변수명[정수]
    * extract : slicing
      * 변수명[start:end:step]
* 메서드:
  * str.count()
  * str.replace()
* 연산자: +, *

In [25]:
c = """
This is a longer string that
spans multiple lines
"""

In [26]:
c.count("\n") #3

3

In [28]:
a = "this is a string"
a[10]
#a[10] = "f"

's'

In [29]:
b = a.replace("string", "longer string") # 수정 -> 새로운 문자열
b

'this is a longer string'

In [31]:
a

In [32]:
a = 5.6
s = str(a)
print(s)

In [31]:
s = "python"
list(s)
s[:3] #s[0:3:1]

'pyt'

In [32]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

<문자열 포맷 방법>

In [33]:
template = "{0:.2f} {1:s} are worth US${2:d}" # method1

In [34]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [35]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [36]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

# 13. 문자열 인코딩 & 디코딩
* str.encoding()
* decoding()

In [37]:
val = "español"
val

'español'

In [40]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [43]:
val_utf8.decode("utf-8")

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 14. Bool

In [45]:
True and True
False or True

In [46]:
int(False)
int(True)

In [47]:
a = True
b = False
not a
not b

In [48]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [41]:
a = None
a is None
b = 5
b is not None

True

# 15. 시계열 데이터 처리
* datetime
* datetime.timedelta

In [45]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [46]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [47]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [48]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [49]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [50]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [51]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt # 시간 차이 -> 기간
print(delta)
type(delta)

17 days, 1:59:39

datetime.timedelta

In [57]:
dt
dt + delta

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [59]:
4 > 3 > 2 > 1

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

# 16. generator :
* range()
* enmurate()
* zip()
* map()

In [53]:
range(10) # generator 객체
list(range(10)) # 데이터 접근 1
for i in range(10): #데이터 접근 2
    print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [55]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [56]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668