# 6장 데이터 로딩과 저장, 파일 형식

In [3]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
pd.options.display.max_colwidth = 75
pd.options.display.max_columns = 20
np.set_printoptions(precision=4, suppress=True)
plt.rcParams["font.family"] = 'Malgun Gothic'

Collecting selenium
  Obtaining dependency information for selenium from https://files.pythonhosted.org/packages/b4/f9/e9ac5e4c5d84b07c7d117d67b2c84be221bcb9e62ff31fd0a1bbc06099c0/selenium-4.19.0-py3-none-any.whl.metadata
  Downloading selenium-4.19.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from selenium) (2.0.4)
Collecting trio~=0.17 (from selenium)
  Obtaining dependency information for trio~=0.17 from https://files.pythonhosted.org/packages/17/c9/f86f89f14d52f9f2f652ce24cb2f60141a51d087db1563f3fba94ba07346/trio-0.25.0-py3-none-any.whl.metadata
  Downloading trio-0.25.0-py3-none-any.whl.metadata (8.7 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Obtaining dependency information for trio-websocket~=0.9 from https://files.pythonhosted.org/packages/48/be/a9ae5f50cad5b6f85bd2574c2c923730098530096e170c1ce7452394d7aa/trio_websocket-0.11.1-py3-none-any.whl.metadata
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from selenium) (4.10.0)
Collecting attrs>=23.2.0 (from trio~=0.17->selenium)
  Obtaining dependency information for attrs>=23.2.0 from https://files.pythonhosted.org/packages/e0/44/827b2a91a5816512fcaf3cc4ebc465ccd5d598c45cefa6703fcf4a79018f/attrs-23.2.0-py3-none-any.whl.metadata
  Downloading attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Collecting sortedcontainers (from trio~=0.17->selenium)
  Obtaining dependency information for sortedcontainers from https://files.pythonhosted.org/packages/32/46/9cb0e58b2deb7f82b84065f37f3bffeb12413f947f9388e4cac22c4621ce/sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: idna in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Obtaining dependency information for outcome from https://files.pythonhosted.org/packages/55/8b/5ab7257531a5d830fc8000c476e63c935488d74609b50f9384a643ec0a62/outcome-1.3.0.post0-py2.py3-none-any.whl.metadata
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Obtaining dependency information for wsproto>=0.14 from https://files.pythonhosted.org/packages/78/58/e860788190eba3bcce367f74d29c4675466ce8dddfba85f7827588416f01/wsproto-1.2.0-py3-none-any.whl.metadata
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6 (from urllib3[socks]<3,>=1.26->selenium)
  Obtaining dependency information for pysocks!=1.5.7,<2.0,>=1.5.6 from https://files.pythonhosted.org/packages/8d/59/b4572118e098ac8e46e399a1dd0f2d85403ce8bbaad9ec79373ed6badaf9/PySocks-1.7.1-py3-none-any.whl.metadata
  Downloading PySocks-1.7.1-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: pycparser in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Obtaining dependency information for h11<1,>=0.9.0 from https://files.pythonhosted.org/packages/95/04/ff642e65ad6b90db43e668d70ffb6736436c7ce41fcc549f4e9472234127/h11-0.14.0-py3-none-any.whl.metadata
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Downloading selenium-4.19.0-py3-none-any.whl (10.5 MB)
   ---------------------------------------- 0.0/10.5 MB ? eta -:--:--
   - -------------------------------------- 0.4/10.5 MB 11.5 MB/s eta 0:00:01
   --- ------------------------------------ 1.0/10.5 MB 11.0 MB/s eta 0:00:01
   ------- -------------------------------- 1.9/10.5 MB 15.3 MB/s eta 0:00:01
   ---------- ----------------------------- 2.8/10.5 MB 16.4 MB/s eta 0:00:01
   --------------- ------------------------ 4.1/10.5 MB 18.5 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/10.5 MB 18.6 MB/s eta 0:00:01
   ---------------------- ----------------- 5.8/10.5 MB 18.5 MB/s eta 0:00:01
   ---------------------------- ----------- 7.4/10.5 MB 19.8 MB/s eta 0:00:01
   --------------------------------- ------ 8.8/10.5 MB 20.9 MB/s eta 0:00:01
   ----------------------------------- ---- 9.4/10.5 MB 20.6 MB/s eta 0:00:01
   ------------------------------------ --- 9.6/10.5 MB 19.2 MB/s eta 0:00:01
   ------------------------------------ --- 9.6/10.5 MB 19.2 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.5 MB 17.7 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.5 MB 17.3 MB/s eta 0:00:01
   ---------------------------------------- 10.5/10.5 MB 16.4 MB/s eta 0:00:00
Downloading trio-0.25.0-py3-none-any.whl (467 kB)
   ---------------------------------------- 0.0/467.2 kB ? eta -:--:--
   ---------------------------------------- 467.2/467.2 kB 9.7 MB/s eta 0:00:00
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
   ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
   ---------------------------------------- 60.8/60.8 kB ? eta 0:00:00
Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
   ---------------------------------------- 58.3/58.3 kB ? eta 0:00:00
Installing collected packages: sortedcontainers, pysocks, h11, attrs, wsproto, outcome, trio, trio-websocket, selenium
  Attempting uninstall: attrs
    Found existing installation: attrs 23.1.0
    Uninstalling attrs-23.1.0:
      Successfully uninstalled attrs-23.1.0
Successfully installed attrs-23.2.0 h11-0.14.0 outcome-1.3.0.post0 pysocks-1.7.1 selenium-4.19.0 sortedcontainers-2.4.0 trio-0.25.0 trio-websocket-0.11.1 wsproto-1.2.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

# 1. csv 텍스트 데이터
## 1.1 csv파일 읽기
* 판다스에서 CSV 파일을 읽기: pd.read_csv(path, encoding = 'utf-8') 함수를 사용
    * path 인수 : 파일시스템에서의 위치, URL, 파일객체를 나타내는 문자열
    * encoding 인수 - 유니코드 인코딩 종류을 지정

    1) header(컬럼명)가 있는 파일

In [3]:
!cat examples/ex1.csv

df = pd.read_csv("examples/ex1.csv")
df

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    2) header가 없는 파일 : 컬럼을 지정
        * names 인수 - 열 이름 리스트
        * header 인수 - 헤더가 없을 경우 None으로 지정

In [4]:
pd.read_csv("examples/ex2.csv")

names = ["a", "b", "c", "d", "message"]
pd.read_csv("examples/ex2.csv", names=names)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    3) 계층적 색인 지정하기
        * index_col 인수 - 색인으로 사용할 열 번호나 이름, 계층적 색인을 지정할 경우 리스트

In [5]:
parsed = pd.read_csv("examples/csv_mindex.csv",
                     index_col=["key1", "key2"])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

    4) 여러 개의 공백으로 필드를 구분한 파일 
        * sep 인수 - 필드을 구분하기 위해 사용할 정규 표현식

In [6]:
result = pd.read_csv("examples/ex3.txt", sep="\s+")
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

    5) 주석을 갖고 있는 파일
        * skiprows 인수 - 파일의 시작부터 무시할 행 수 또는 무시할 행 번호가 담긴 리스트

In [7]:
pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    6) 누락된 값이 있는 파일 : 비어 있는 문자열, NA, NULL을 NaN으로 출력 
        * na_values 인수 - NA 값으로 처리할 값들의 목록

In [22]:
result = pd.read_csv("examples/ex5.csv")
result
# 1) 누락된 값을 확인 : isna()함수 이용
pd.isna(result)

# 2) na_values -> 컬럼별 문자열 집합을 받아서 누락된 값 처리
sentinels = {"message": ["foo", "NA"], "something": ["two"]}
result = pd.read_csv("examples/ex5.csv", na_values=sentinels)
print(result)
result.isna()

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

   something      a      b      c      d  message
0      False  False  False  False  False     True
1       True  False  False   True  False    False
2      False  False  False  False  False     True

    7) 텍스트 파일 조금씩 
        * nrows 인수 - 파일의 첫 일부만 읽어올 때 처음 몇 줄을 읽을 것인지 지정 
        * chunksize 인수 - TextParser 객체에서 사용할 한 번에 익을 파일의 크기

In [9]:
#pd.options.display.max_rows = 10
result = pd.read_csv("examples/ex6.csv")

result = pd.read_csv("examples/ex6.csv", nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

### [예제]  ex6.csv 파일을 순회하면서 "key"열의 값을 세기

In [12]:
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)

tot = pd.Series([], dtype='int64')
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
tot
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

## 1.2. csv 텍스트 파일 저장하기
* 판다스에서 CSV 파일을 저장하기: df.to_csv(path, encoding = 'utf-8') 함수를 사용
    * path 인수 : 파일시스템에서의 위치, URL, 파일객체를 나타내는 문자열
    * encoding 인수 - 유니코드 인코딩 종류을 지정

In [23]:
data = pd.read_csv("examples/ex5.csv")
data1 = data[['a','b','d']]
data1

   a   b   d
0  1   2   4
1  5   6   8
2  9  10  12

In [24]:
data1.to_csv("examples/out.csv")
!cat examples/out.csv

,a,b,d
0,1,2,4
1,5,6,8
2,9,10,12

In [25]:
data.to_csv("examples/out.csv", sep="|") # 구분자 사용
data.to_csv("examples/out.csv", na_rep = "NULL") #누락된 값을 원하는 값으로 지정
data.to_csv("examples/out.csv", index=False, header=False)
data.to_csv("examples/out.csv", index=False, columns=["a", "b", "c"])

!cat examples/out.csv

a,b,c
1,2,3.0
5,6,
9,10,11.0

# 2. JSON  데이터
* JSON(JavaScript Object Notation)은 텍스트 데이터를 저장하고 전송하기 위한 일반적인 형식
* 주로 웹에서 데이터를 전송하거나 저장하는 데 사용
* JSON 파일은 일반적으로 텍스트 형식으로 작성되며, 사람과 기계 모두 이해하기 쉽다.
* JSON 파일은 키-값 쌍의 모음으로 구성
  * 키-값 쌍은 객체(object)라고도 하며, 중괄호 {} 로 묶는다.
  * 배열(array)은 대괄호 [] 안에 값의 목록을 나열하여 정의.

## 2.1 JSON 데이터 읽기/저장
    * pandas의 to_json() -> 데이터프레임을 JSON 파일로 저
    * read_json() -> JSON 파일에서 데이터프레임을 읽어오기

### [예제]  pandas의 to_json() 및 read_json() 메서드를 사용하여 데이터프레임을 JSON 파일로 저장하고 읽기

In [27]:
# 1. pandas 라이브러리 임포트

import pandas as pd

# 2. JSON 파일로 저장할 데이터프레임 생성
data = {
    "name": ["John", "Alice", "Bob"],
    "age": [30, 25, 35],
    "city": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

# 3. 데이터프레임을 JSON 파일로 저장
df.to_json("examples/data.json")

# JSON 파일을 읽어와 데이터프레임으로 변환
df_read = pd.read_json("examples/data.json")

print("Original DataFrame:")
print(df)

print("\nDataFrame from JSON file:")
print(df_read)

Original DataFrame:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
2    Bob   35      Chicago

DataFrame from JSON file:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
2    Bob   35      Chicago

# 3. HTML 데이터
## 3.1 웹 스크래핑 - read_html()

* read_html() - html 문서 내 테이블 데이터 읽어 테이블 구조의 모든 데이터를 데이터프레임으로 저장해서 반환
    * https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/

* 개발자 도구 사용 방법
   * #s_content>div.section>ul>li:nth-child(1)>dl>dt>a

#### [예제] 미국 예금 보험 공사에서 부도 은행을 보여주는 HTML 문서 읽어오기

In [5]:
import pandas as pd
from pandas import Series, DataFrame

#tables = pd.read_html("examples/fdic_failed_bank_list.html") 
tables = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")
len(tables)
print(type(tables))
failures = tables[0]
print(type(failures))
failures.head()

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
3,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
4,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539

In [6]:
# 1) 컬럼명 수정하기
failures.columns
failures.columns = ['BankNameBank', 'CityCity', 'StateSt', 'CertCert',
       'AcquiringInstitutionAI', 'ClosingDate', 'FundFund']
failures.head(3)

,BankNameBank,CityCity,StateSt,CertCert,AcquiringInstitutionAI,ClosingDate,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543

In [7]:
# 2) 데이터 변환 : 문자열 -> datetime
close_timestamps = pd.to_datetime(failures["ClosingDate"])
close_timestamps
#3) 년도별 데이터 개수 추출
close_timestamps.dt.year.value_counts()

ClosingDate
2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2017      8
2015      8
2023      5
2016      5
2020      4
2004      4
2019      4
2001      4
2007      3
2003      3
2000      2
Name: count, dtype: int64

#### [실습] : 네이버 주식 데이터 가져오기 - read_html()
* https://www.naver.com/ -> 증권 -> 국내증시 -> 시가총액
    * https://finance.naver.com/sise/sise_market_sum.naver

In [15]:
!pip install html5lib  lxml

Requirement already satisfied: html5lib in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (1.1)
Requirement already satisfied: lxml in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (5.1.0)
Requirement already satisfied: six>=1.9 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from html5lib) (0.5.1)

In [17]:
import pandas as pd

# 'euc-kr' 또는 'cp949'로 인코딩 설정하여 페이지 읽기 시도
df_list = pd.read_html("https://finance.naver.com/sise/sise_market_sum.naver",encoding='cp949')
type(df_list)
# 데이터프레임 확인
for df in df_list:
    print("\n", df.head())

      0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)

      N       종목명       현재가      전일비     등락률     액면가       시가총액      상장주식수  \
0  NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
1  1.0      삼성전자   84100.0    900.0  -1.06%   100.0  5020587.0  5969783.0
2  2.0    SK하이닉스  179200.0   7100.0  -3.81%  5000.0  1304580.0   728002.0
3  3.0  LG에너지솔루션  376000.0  17000.0  -4.33%   500.0   879840.0   234000.0
4  4.0  삼성바이오로직스  812000.0   4000.0  -0.49%  2500.0   577933.0    71174.0

   외국인비율         거래량    PER    ROE  토론실
0    NaN         NaN    NaN    NaN  NaN
1  55.57  30136601.0  39.47   4.15  NaN
2  54.69   5082907.0 -14.32 -15.61  NaN
3   4.97    364327.0  71.12   6.36  NaN
4  11.99     50553.0  67.38   9.12  NaN

    0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

C:\Users\moon\AppData\Local\Programs\Python\Python311\Lib\site-packages\bs4\__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

In [18]:
# 데이터프레임 가공 - 종목명에 NaN이 있는 행은 제거 
df = df_list[1] #컬럼 인덱싱
df.head(10)
#boolean indexing
df['종목명'] #1. 컬럼 추출 - Series
df['종목명'].notnull() #2. 조건 색인
data = df[df['종목명'].notnull()] # 3.조건색인을 넣어주기
data
data.head()
#가공한 데이터프레임을 파일로 저장
data.to_csv("examples/Naver_kospi.csv")

## 3.2 웹 스크래핑 - requests

* 웹 페이지 정보 가져오기 - requests 패키지 이용
  * requests.get()
  * requests.get().status_code
  * requests.get().text

### [예제] 타겟 사이트의 json 구조로 저장된 데이터 가져오기

In [1]:
!pip install requests

Requirement already satisfied: requests in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from requests) (2023.7.22)

In [13]:
# 1. requests 모듈 임포트하기
import requests
import pandas as pd
#2. url 가져오기
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
# pd.read_html(url)
# json 페이지를 가져오기
resp = requests.get(url)
type(resp)
resp.status_code #200
resp.text # 데이터 가져오기
type(resp.text)
# # 3. json 내용을 딕셔너리로 변환
data = resp.json() # json의 내용을 딕셔너리 형태로 변환한 객체을 반환
type(data)
#len(data) dufsfuvhdj
#data.keys()
# print(type(data))
# data[0]['title']
# data[0].keys() # 키 정보 출력
# # 4. 딕셔너리를 DataFrame으로 생성하기
# issues = pd.DataFrame(data, columns=["number", "title",
#                                       "labels", "state"])
# issues.head()

dict

### [문제] 네이버 블로그의 키워드 관련 검색 결과 텍스트 데이터 가져오기 - requests 모듈 사용시 한계점

In [16]:
import requests
#url = "https://section.blog.naver.com/Search/Post.naver?pageNo=1&rangeType=ALL&orderBy=sim&keyword=%ED%8C%8C%EC%9D%B4%EC%8D%AC"

params = {
    'pageNo' : 1,
    'rangeType' : 'ALL',
    'orderBy' : 'sim',
    'keyword' : '파이썬'
}

#pd.read_html(url)
response = requests.get('https://section.blog.naver.com/Search/Post.naver?', params=params)

print(response.status_code) # HTTP GET 방식으로 URL 파라미터 값 전달
print(response.url) # status_code 는 응답코드
#print(response.text) # text에는 HTML 코드

200
https://section.blog.naver.com/Search/Post.naver?pageNo=1&rangeType=ALL&orderBy=sim&keyword=%ED%8C%8C%EC%9D%B4%EC%8D%AC

## 3.3 웹 스크래핑 - beautifulsoup (다음주는 비대면수업)
* 웹 페이지 정보 추출하기 - beautifulsoup 사용법 
  * soup.select_one()
  * soup.select()
  * get_text()
* 개발자 도구 사용

### [문제] 네이버 지식iN의 검색어 관련 검색 결과 제목 가져오기
* 타겟 웹 사이트 : https://kin.naver.com/search/list.naver?query=%ED%8C%8C%EC%9D%B4%EC%8D%AC

In [3]:
import requests
from bs4 import BeautifulSoup

# 1. 타겟 웹사이트
url = 'https://kin.naver.com/search/list.naver?query=%ED%8C%8C%EC%9D%B4%EC%8D%AC'

response = requests.get(url)

if response.status_code == 200:
    # 웹 페이지 확인
    html = response.text
    # 4. html -> beautifulsoup 객체로 변환 : 원하는 데이터를 쉽게 추출
    soup = BeautifulSoup(html, 'html.parser')

    # 5. 데이터 추출 : 제목 한개 선택하여 텍스트 가져오기
    ##s_content > div.section > ul > li:nth-child(1) > dl > dt > a                                    
    title = soup.select_one('#s_content > div.section > ul > li:nth-child(1) > dl > dt > a')
    #print(title)
    #print(title.get_text())

    # 6. 데이터 추출 :제목 여러 개 선택하여 텍스트 리스트 가져오기
    # titles = soup.select('#s_content > div.section > ul > li:nth-child(n) > dl > dt > a')
    # print(titles)
    # 7. 제목의 텍스트를 반복적으로 적용하여 가져오기
    for title in titles:
        print(title.get_text())
else : 
    print(response.status_code)

파이썬이 미래에 도움이 될까요?
파이썬 사용
웹개발공부와 파이썬공부
맥북 파이썬 idel
파이썬 질문
파이썬과 자바
파이썬 질문...
파이썬 배우기
파이썬강좌 독학할때 뭐보나요??
파이썬독학할 때 어떻게 공부를...

## 3.4 웹 스크래핑 - Selenium을 이용하여 사이트 자동화하기
* https://selenium-python.readhedocs.io/
* selenium 사용법
  1. 시스템의 OS 및 Chrome 브라우저의 버전 확인
  2. Chrome 드라이버 다운로드 및 설치
  3. 크롬 드라이버을 프로젝트 폴더에 저장 - 크롬 드라이버의 설치 경로
     * from selenium import webdriver
     * driver = webdriver.Chrome()
* 동적으로 웹 페이지 정보 추출하기
     * driver.get("웹주소")

### [예제]### [예제] Selenium을 이용하여 자동으로 타겟 웹 사이트 실행하기
* 타겟 사이트 : https://www.google.com

In [4]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.4)
Requirement already satisfied: trio~=0.17 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\moon\appdata\local\programs\python\python311\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [8]:
from selenium import webdriver
# 1.  Chrome 브라우저 실행
driver = webdriver.Chrome()  # 크롬 드라이버 실행파일의 위치 - 작업디렉터리 
# 2. 웹페이지 로딩
url = "https://www.google.com"
driver.get(url)

#3. 타겟 브라우저 종료
driver.quit()

### [문제] Selenium을 이용하여 자동으로 타겟 웹 사이트 실행하기/검색하기/검색 결과 출력하기* 
타겟 사이트: https://www.google.co
* driver.find_element()
* send_keys()m

In [16]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

# 1. Chrome 브라우저 실행
driver = webdriver.Chrome()

# 2. 타겟 Google 홈페이지 열기
url = "https://www.google.com"
driver.get(url)

# 3. 페이지가 완전히 로드될 때까지 2초 대기
time.sleep(2)

# 4. 검색 기능 - 검색창 -> 검색어 입력 -> 엔터 키로 클릭 처리

try:
    # 4-1 검색 상자 요소 찾기
    search_box = driver.find_element(By.NAME, "q")

    # 4-2 검색어 입력
    search_query = "OpenAI"
    search_box.send_keys(search_query)

    # 4-3 Enter 키를 눌러 검색 수행
    search_box.send_keys(Keys.RETURN)

    # 4-4 검색 결과가 로드될 때까지 5초 대기 --> 너무 길어서 2초로 수정
    time.sleep(2)

    # 5.검색에 관련된 결과 추출
    search_results = driver.find_elements(By.CSS_SELECTOR, "div.g")
    
    # # 5-1 첫 번째 제목과 링크 url 추출
    # search_results = driver.find_elements(By.CSS_SELECTOR, "div.g") 
    # title = search_results[0].find_element(By.CSS_SELECTOR, "h3").text
    # url = search_results[0].find_element(By.CSS_SELECTOR, "a").get_attribute("href")
    # print("제목:", title)
    # print("URL:", url)
    
    #5-2  검색 결과의 모든 제목과 URL 인쇄
    for result in search_results:
        title = result.find_element(By.CSS_SELECTOR, "h3").text
        url = result.find_element(By.CSS_SELECTOR, "a").get_attribute("href")
        print("제목:", title)
        print("URL:", url)
   
    # for result in search_results:
    #     title = result.find_element(By.CSS_SELECTOR, "h3").text
    #     url = result.find_element(By.CSS_SELECTOR, "a").get_attribute("href")
    #     print("제목:", title)
    #     print("URL:", url)
    #     print()

except Exception as e:
    print("오류가 발생했습니다:", e)

finally:
    # 브라우저 창 닫기
    driver.quit()
#finally 는 자동 콜로로가 정상적으로 확인하고 실행시킴

제목: OpenAI
URL: https://openai.com/
제목: OpenAI
URL: https://openai.com/
제목: OpenAI
URL: https://namu.wiki/w/OpenAI
제목: OpenAI
URL: https://en.wikipedia.org/wiki/OpenAI
제목: OpenAI
URL: https://www.youtube.com/@OpenAI
제목: OpenAI
URL: https://twitter.com/OpenAI
제목: OpenAI
URL: https://www.linkedin.com/company/openai
제목: 설명
URL: https://www.google.com/search?q=OpenAI&sca_esv=f7e7867956c72750&source=hp&ei=bjUWZpLJD9m-vr0Pg7mLgAo&iflsig=ANes7DEAAAAAZhZDfqHX5gj9LZS2bdvo6V2kjxHpFUJM&udm=&ved=0ahUKEwiSuKaGhreFAxVZn68BHYPcAqAQ4dUDCBA&uact=5&oq=OpenAI&gs_lp=Egdnd3Mtd2l6IgZPcGVuQUlIL1AAWBRwAHgAkAEAmAEAoAEAqgEAuAEDyAEA-AEBmAIAoAIAmAMAkgcAoAcA&sclient=gws-wiz#

[문제] Selenium을 이용하여 네이버 증권 웹페이지 열기/ 삼성전자 일별 시세 HTML가져오기/ 10페이지 내역 테이블 데이터 찾기/검색 결과를 데이터프레임으로 변환/저장하기
타겟 사이트: https://finance.naver.com/item/sise.naver?code=005930*

In [17]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

In [23]:
#1. 크롬 드라이버 실행
driver= webdriver.Chrome()

# 2페이지 로딩 시간
time.sleep(2)

# 3. 크롤링 사이트 : 삼성전자의 일별 시세 페이지 URL 찾기
samsung_url ="https://finance.naver.com/item/sise_day.naver?code=005930&page=" #base url

# # 4. 페이지 요청
# driver.get(samsum_url)

# 4. 첫 페이지부터 3 페이지까지 데이블 담기
samsung_daily_kospi = [] # 리스트 선언
for num in range(1,5):
    full_url = samsung_url + str(num)
    # 4.1 해당 페이지 요청
    driver.get(full_url)
    
    try:
        # 4.2 페이지의 HTML 가져오기
        html = driver.page_source
        df = pd.read_html(html)
        print(df)
        # 4.3 결측치 처리 - 조건 색인을 이용한 불리언 인덱싱
        ## 조건 색인 인덱싱
        cond = df[0]['날짜'].notnull()
        samsung_day = df[0][cond]
        ## 리스트에 담기
        samsung_daily_kospi.append(samsung_day)       
        
    except Exception as e:
        print("Network Error",e)
    
    # finally:
    #    driver.quit()

print(samsung_daily_kospi)
samsung_daily_kospi_all = pd.concat(samsung_daily_kospi) # 데이터프레임 합치기 
samsung_daily_kospi_all.to_csv("examples/samsung_daily_kospi_2024_2020.csv")

C:\Users\moon\AppData\Local\Temp\ipykernel_17080\3146373635.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(html)
C:\Users\moon\AppData\Local\Temp\ipykernel_17080\3146373635.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(html)
C:\Users\moon\AppData\Local\Temp\ipykernel_17080\3146373635.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(html)

[            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2024.04.09  83600.0   900.0  84500.0  84900.0  83100.0  18342168.0
2   2024.04.08  84500.0     0.0  85200.0  86000.0  84500.0  18953232.0
3   2024.04.05  84500.0   800.0  84500.0  85000.0  83800.0  18883752.0
4   2024.04.04  85300.0  1200.0  85200.0  85500.0  84300.0  25248934.0
5   2024.04.03  84100.0   900.0  84300.0  85000.0  83500.0  30493347.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2024.04.02  85000.0  3000.0  82900.0  85000.0  82900.0  37077944.0
10  2024.04.01  82000.0   400.0  83200.0  83300.0  82000.0  20116513.0
11  2024.03.29  82400.0  1600.0  81200.0  82500.0  80900.0  27126366.0
12  2024.03.28  80800.0  1000.0  79400.0  81000.0  79200.0  25084812.0
13  2024.03.27  79800.0   100.0  79200.0  80000.0  79200.0  17424595.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN,    0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]
[            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2024.03.26  79900.0  1700.0  79700.0  80100.0  79200.0  30551494.0
2   2024.03.25  78200.0   700.0  79600.0  79800.0  77800.0  18703996.0
3   2024.03.22  78900.0   400.0  79600.0  79900.0  77800.0  26724761.0
4   2024.03.21  79300.0  2400.0  79200.0  79300.0  77700.0  44569799.0
5   2024.03.20  76900.0  4100.0  73700.0  77200.0  73400.0  50106297.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2024.03.19  72800.0     0.0  72300.0  73000.0  71700.0  15376066.0
10  2024.03.18  72800.0   500.0  72600.0  73000.0  72500.0  11520348.0
11  2024.03.15  72300.0  2000.0  73400.0  73700.0  72300.0  22580555.0
12  2024.03.14  74300.0   200.0  74400.0  74500.0  73600.0  22545539.0
13  2024.03.13  74100.0   800.0  73700.0  74100.0  73500.0  15243134.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN,    0   1   2   3   4   5   6   7   8   9   10  11  12
0  맨앞   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]
[            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2024.03.12  73300.0   900.0  72600.0  73500.0  72100.0  13011654.0
2   2024.03.11  72400.0   900.0  72900.0  73100.0  72300.0   9740504.0
3   2024.03.08  73300.0  1100.0  72800.0  73400.0  72600.0  19271349.0
4   2024.03.07  72200.0   700.0  73100.0  73300.0  72200.0  14516963.0
5   2024.03.06  72900.0   800.0  73200.0  73500.0  72700.0  21547905.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2024.03.05  73700.0  1200.0  74600.0  74800.0  73700.0  19505125.0
10  2024.03.04  74900.0  1500.0  74300.0  75000.0  74000.0  23210474.0
11  2024.02.29  73400.0   200.0  72600.0  73400.0  72000.0  21176403.0
12  2024.02.28  73200.0   300.0  72900.0  73900.0  72800.0  11795859.0
13  2024.02.27  72900.0   100.0  73100.0  73400.0  72700.0  13201981.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN,    0   1   2   3   4   5   6   7   8   9   10  11  12
0  맨앞   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]
[            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2024.02.26  72800.0   100.0  72300.0  73200.0  72200.0  14669352.0
2   2024.02.23  72900.0   200.0  73600.0  74200.0  72900.0  16225166.0
3   2024.02.22  73100.0   100.0  73800.0  73900.0  72700.0  15208934.0
4   2024.02.21  73000.0   300.0  73400.0  73700.0  72900.0  11503495.0
5   2024.02.20  73300.0   500.0  73700.0  73700.0  72800.0  14681477.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2024.02.19  73800.0  1000.0  72800.0  73900.0  72800.0  12726404.0
10  2024.02.16  72800.0   200.0  73300.0  73400.0  72500.0  13444781.0
11  2024.02.15  73000.0  1000.0  74200.0  74400.0  73000.0  14120600.0
12  2024.02.14  74000.0  1200.0  73700.0  74300.0  73700.0  12434945.0
13  2024.02.13  75200.0  1100.0  74800.0  75200.0  74400.0  21966745.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN,    0   1   2   3   4   5   6   7   8   9   10  11  12
0  맨앞   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]
[            날짜       종가     전일비       시가       고가       저가         거래량
1   2024.04.09  83600.0   900.0  84500.0  84900.0  83100.0  18342168.0
2   2024.04.08  84500.0     0.0  85200.0  86000.0  84500.0  18953232.0
3   2024.04.05  84500.0   800.0  84500.0  85000.0  83800.0  18883752.0
4   2024.04.04  85300.0  1200.0  85200.0  85500.0  84300.0  25248934.0
5   2024.04.03  84100.0   900.0  84300.0  85000.0  83500.0  30493347.0
9   2024.04.02  85000.0  3000.0  82900.0  85000.0  82900.0  37077944.0
10  2024.04.01  82000.0   400.0  83200.0  83300.0  82000.0  20116513.0
11  2024.03.29  82400.0  1600.0  81200.0  82500.0  80900.0  27126366.0
12  2024.03.28  80800.0  1000.0  79400.0  81000.0  79200.0  25084812.0
13  2024.03.27  79800.0   100.0  79200.0  80000.0  79200.0  17424595.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.03.26  79900.0  1700.0  79700.0  80100.0  79200.0  30551494.0
2   2024.03.25  78200.0   700.0  79600.0  79800.0  77800.0  18703996.0
3   2024.03.22  78900.0   400.0  79600.0  79900.0  77800.0  26724761.0
4   2024.03.21  79300.0  2400.0  79200.0  79300.0  77700.0  44569799.0
5   2024.03.20  76900.0  4100.0  73700.0  77200.0  73400.0  50106297.0
9   2024.03.19  72800.0     0.0  72300.0  73000.0  71700.0  15376066.0
10  2024.03.18  72800.0   500.0  72600.0  73000.0  72500.0  11520348.0
11  2024.03.15  72300.0  2000.0  73400.0  73700.0  72300.0  22580555.0
12  2024.03.14  74300.0   200.0  74400.0  74500.0  73600.0  22545539.0
13  2024.03.13  74100.0   800.0  73700.0  74100.0  73500.0  15243134.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.03.12  73300.0   900.0  72600.0  73500.0  72100.0  13011654.0
2   2024.03.11  72400.0   900.0  72900.0  73100.0  72300.0   9740504.0
3   2024.03.08  73300.0  1100.0  72800.0  73400.0  72600.0  19271349.0
4   2024.03.07  72200.0   700.0  73100.0  73300.0  72200.0  14516963.0
5   2024.03.06  72900.0   800.0  73200.0  73500.0  72700.0  21547905.0
9   2024.03.05  73700.0  1200.0  74600.0  74800.0  73700.0  19505125.0
10  2024.03.04  74900.0  1500.0  74300.0  75000.0  74000.0  23210474.0
11  2024.02.29  73400.0   200.0  72600.0  73400.0  72000.0  21176403.0
12  2024.02.28  73200.0   300.0  72900.0  73900.0  72800.0  11795859.0
13  2024.02.27  72900.0   100.0  73100.0  73400.0  72700.0  13201981.0,             날짜       종가     전일비       시가       고가       저가         거래량
1   2024.02.26  72800.0   100.0  72300.0  73200.0  72200.0  14669352.0
2   2024.02.23  72900.0   200.0  73600.0  74200.0  72900.0  16225166.0
3   2024.02.22  73100.0   100.0  73800.0  73900.0  72700.0  15208934.0
4   2024.02.21  73000.0   300.0  73400.0  73700.0  72900.0  11503495.0
5   2024.02.20  73300.0   500.0  73700.0  73700.0  72800.0  14681477.0
9   2024.02.19  73800.0  1000.0  72800.0  73900.0  72800.0  12726404.0
10  2024.02.16  72800.0   200.0  73300.0  73400.0  72500.0  13444781.0
11  2024.02.15  73000.0  1000.0  74200.0  74400.0  73000.0  14120600.0
12  2024.02.14  74000.0  1200.0  73700.0  74300.0  73700.0  12434945.0
13  2024.02.13  75200.0  1100.0  74800.0  75200.0  74400.0  21966745.0]

C:\Users\moon\AppData\Local\Temp\ipykernel_17080\3146373635.py:23: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(html)